Flask
langchain
langchain-community
langchain-groq
faiss-cpu
sqlite3
werkzeug
torch
numpy
pickle5
shutil
python-dotenv
requests
nltk
sentence-transformers
scikit-learn
language-tool-python
PyPDF2
